body{
    background-color: #101025;
}
input{
    padding: 20px;
    border: 2px solid #101025;
    outline: none;
    margin: 10px 0px 50px 0px;
}
button{
    padding: 20px;
    border: 2px solid #101025;
    outline: none;
    margin: 10px;
}
#form{
    max-width: 800px;
    display: flex;
    flex-direction: column;
}
.itemLista{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    border-bottom: 2px solid #104070;
    max-width: 800px;
    list-style: none;
    background-color: #205080;
    padding: 5px 20px;
}
a{
    margin-left:8px;
    text-decoration: underline;
    color: #2050ff;
}